/*css reset*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
button,
select,
textarea,
th,
td,
pre {
  padding: 0;
  margin: 0;
}
body,
button,
input,
select,
textarea {
  color: #333;
  font: 12px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, SimSun, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  vertical-align: top;
}
img {
  border: none;
  vertical-align: top;
}
textarea {
  overflow: auto;
  resize: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 公共样式 */
.container {
  margin: 0 auto;
  width: 1200px;
}
.link {
  color: #4d555d;
}
.link:hover {
  color: #f01414;
}
.transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-toggle {
  position: relative;
  z-index: 2;
}
.dropdown-arrow {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.dropdown-layer {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.dropdown-left {
  left: 0;
  right: auto;
}
.dropdown-right {
  left: auto;
  right: 0;
}
[class*="-active"] .dropdown-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* menu dropdown */
.menu .dropdown-toggle {
  display: block;
  height: 100%;
  padding: 0 13px 0 12px;
  border-left: 1px solid #f3f5f7;
  border-right: 1px solid #f3f5f7;
}
.menu .dropdown-arrow {
  margin-left: 5px;
}
.menu .dropdown-layer {
  top: 43px;
  background-color: #fff;
  border: 1px solid #cdd0d4;
}
.menu-active .dropdown-toggle {
  background-color: #fff;
  border-color: #cdd0d4;
}
.menu-active .dropdown-layer {
  display: block;
}
.menu-item {
  display: block;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  color: #4d555d;
  white-space: nowrap;
}
.menu-item:hover {
  background-color: #f3f5f7;
}
/* icon */
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1477124206');
  /* IE9*/
  src: url('../font/iconfont.eot?t=1477124206#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff?t=1477124206') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf?t=1477124206') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg?t=1477124206#iconfont') format('svg');
  /* iOS 4.1- */
}
.icon {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* showHide */
.transition {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
}
.slideUpDownCollapse {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.slideLeftRightCollapse {
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* nav-site */
.nav-site {
  width: 100%;
  background-color: #f3f5f7;
}
.nav-site .container {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #cdd0d4;
}
.nav-site-login {
  margin-left: 15px;
  color: #f01414;
}
.nav-site-signup,
.nav-site-mobile {
  margin-left: 10px;
}
.nav-site-category {
  margin: 0 10px;
}
.nav-site-service {
  margin-right: 15px;
}
