// Custom styles.

$sm = 768px
$md = 970px
$lg = 1170px

$page-bg            = #404040  // 页面底色
$code-color         = #c7254e  // 代码块字体
$big-code-color     = #d6d6d6  // 大代码块字体
$code-bg            = #f9f2f4  // 代码块背景
$shallow-color      = #f8f8f8  // 字体-浅
$depth-color        = #333     // 字体-深
$hight-color        = #F79533  // 字体-高亮
$themes-color       = #5073b8  // 主题颜色
$themes-hight-color = #a166ab  // 主题颜色

// 选中文字部分的样式
::selection
  background-color: lighten($hight-color, 20%)
  color: $depth-color

/* 设置滚动条的样式 */
// 参考https://segmentfault.com/a/1190000003708894
::-webkit-scrollbar
  width: 5px
  height: 5px

// 滚动槽
::-webkit-scrollbar-track
  background: #eee

// 滚动条滑块
::-webkit-scrollbar-thumb
  border-radius: 5px
  background-color: #999
::-webkit-scrollbar-thumb:hover
  background-color: $hight-color

shadow()
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)

// 内容容器宽度
.container .main-inner
  width: auto
  @media screen and (min-width: $sm)
    max-width: 748px
  @media screen and (min-width: $md)
    max-width: $md - 100
  @media screen and (min-width: $lg)
    max-width: $md

// 图片背景
page-image-bg()
  background: $page-bg url(/images/bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  background-attachment:fixed;

// 毛玻璃背景
mask-dim()
  background: hsla(0, 0%, 50%, .3);
  overflow: hidden;
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    filter: blur(12px)
    page-image-bg()

// 设置导航与侧栏
body
  page-image-bg()
  .header, .footer
    position: relative;
  // .sidebar,
  .header, .footer
    mask-dim()

// ------------------------- 顶部导航 -------------------------
.header

  // logo
  .brand
    color: $shallow-color
    &:hover
      color: $shallow-color
    .site-title
      font-weight: 300
    .logo-line-before i,
    .logo-line-after i
      height 1px
      background: darken($shallow-color, 20%)

  // 调整导航链接样式
  .menu .menu-item a
      color: $shallow-color
      &:hover
        color: $hight-color
        background: none

  // 导航填充高度
  .header-inner
    padding-top: 10px
    padding-bottom: 10px

  // 本地搜索框
  .local-search-popup

    .search-icon,
    .popup-btn-close
      color: $hight-color

    .popup-btn-close
      border-left: none

    .local-search-input-wrapper
      width: calc(100% - 100px)
      input
        padding: 9px 0 9px 15px
        height: 20px
        background-color: #fff

    .search-result-list a {
      color: $depth-color;
    }

  @media screen and (max-width: $sm - 1)

    // 清除多余填充高度
    .header-inner
      margin-bottom: 0

    // 顶部导航切换按钮
    .site-nav-toggle button
      &:focus
        outline: none
      .btn-bar
        background: $shallow-color

// ------------------------- 底栏 -------------------------
.footer
  // 字体颜色调暗
  .footer-inner
    position: inherit
    color: darken($shallow-color, 30%)

// ------------------------- 侧栏 -------------------------
.sidebar

  // 修复侧栏内容右侧被遮挡
  .site-overview
    padding-right: 10px
    box-sizing: border-box

  // 自定义的侧栏时间样式
  #days
    display: block
    font-size: 13px
    margin-top: 15px

// ------------------------- 内容 -------------------------
.main
  // 代码块自定义样式
  code
    display: inline-block
    padding: 0 4px
    line-height: 24px
    color: $code-color
    background: $code-bg

  // 文章图片靠左
  .posts-expand .post-body .fancybox img
    margin-left: 0

  @media screen and (max-width: $sm - 1)
    // 文章的边距
    .posts-expand
      margin: 0 5px 50px 5px
    // 文章标题左侧色块
    .post-body h2, h3, h4, h5, h6
      margin-left: -21px
  
  @media screen and (min-width: 992px)
    // 修复文章段落两端对齐
    .posts-expand .post-body
      text-align: left !important;

  // 代码块复制按钮
  #copyBtn
    position: absolute
    top: 0; right: 50px
    opacity: 0
    width: 50px
    line-height: 1
    font-size:1.2em
    text-align: right
    #imgCopy
      cursor: pointer
      .fa.fa-paste
        color: #ccc
    #imgSuccess
      margin-right: 10px
      .fa.fa-check-circle
        color #71ff51


  // 文章
  .post
    @media screen and (min-width: $sm)
      margin-bottom: 30px
  // 文章容器
  .post-block
    padding: 30px 15px 15px 21px
    background-color: #fff
    shadow()
    @media screen and (min-width: $sm)
      padding: 50px 36px 36px 36px

  // 文章标题动态效果
  .posts-expand .post-title-link
    padding-bottom: 4px
    &:before
      background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%)

  // 文章之间间隔
  .posts-expand .post
    margin-top: 60px

  // ## 空心圆改实心圆
  .posts-expand .post-body ul li
    list-style: disc

  // 文章内标题样式（左边的竖线）
  .post-body h2, h3, h4, h5, h6
    border-left: 4px solid $themes-color
    padding-top: 0
    margin-left: -36px
    padding-left: 32px


  // 文章底部页面跳转
  .post-nav-item a
    font-weight: bold
    &:hover
      color: $hight-color

  .posts-expand
    // 文章标题字体
    .post-title
      font-size: 26px
      font-weight: 500
    // 文章元数据（meta）留白更改
    .post-meta
      margin: 10px 0px 20px 0px
      // 文章的描述description
      .post-description
        font-style: italic
        font-size: 14px
        color: $depth-color

  // [Read More]按钮样式
  .post-button .btn:hover
    color: $hight-color
    border-color: $hight-color

  // 去除页面底部页码上面的横线
  .pagination
    margin: 0
    border: none
    a
      color: $shallow-color
      &:hover
        color: $hight-color
    .prev, .next, .page-number
      border: none;
    // 页面底部页码
    .page-number.current
      color: $depth-color
      background-color: $shallow-color
      border-radius: 100%
      opacity: .7
      shadow()

  // 文章底部的tags
  .posts-expand .post-tags a
    border-radius: 3px
    transition: 0.2s ease-in-out 0s
    &:hover
      background: $hight-color

  // 分割线样式
  hr
    margin: 15px 0

  // 文章底部评论
  .comments.v
    margin: 80px 0 40px 0
    background-color: rgba(0, 0, 0, .5)
    shadow()
    *
      color: #eee
    .vcard
      border-bottom: none
      padding-top: 0
    .vwrap
      color: #eee
      border-width: 0 0 1px 0
      border-radius: 0
      input, textarea
        color: #eee
      button
        color: #666
      .veditor.vinput
        min-height: 5rem;
    .vinfo
      padding-left: 20px
    .vlist
      padding: 0 20px
      > .vcard
        padding-top: 1.5rem
        &:not(:last-child)
          border-bottom: 1px dashed #999
      .vcard .vhead .vsys
        background: none
      .vcard .vhead .vnick:hover
        color: $hight-color
      .vcard .vimg
        border: 0
        border-radius: 0
      .vcard .vquote
        position: relative
        border-left: none
        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 3px
          height: 35px
          background: $themes-color
      .vh
        border: none
      .vat
        color: $themes-color !important
        &:hover
          color: $hight-color !important
    .vempty > pre
      color: #666
    .info
      display: none

// ------------------------- 内容 - 分类页 -------------------------
// todo: 鱼骨布局
.post-block.page
  margin-top: 40px
  shadow()

// ------------------------- 内容 - 标签页 -------------------------
.tag-cloud-title {
  margin-bottom: 15px
}
@media screen and (max-width: $sm - 1)
  .tag-cloud
    margin: -73px 0 30px 0
    padding: 86px 5px 36px 5px

// ------------------------- 内容 - 归档页 -------------------------
// 十二生肖图标
.chinese-zodiac
  float: right

@font-face
  font-family: 'chinese-zodiac'
  font-display: swap
  src: url('/fonts/chinese-zodiac.eot')
  src: url('/fonts/chinese-zodiac.eot') format('embedded-opentype'),
       url('/fonts/chinese-zodiac.woff2') format('woff2'),
       url('/fonts/chinese-zodiac.woff') format('woff');
  font-weight: normal
  font-style: normal

.symbolic-animals
  display: inline-block
  padding-right: 5px
  font: normal normal normal 14px/1 chinese-zodiac
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-dragon:before
  content: '\e806'
.icon-tiger:before
  content: '\e809'
.icon-pig:before
  content: '\e810'
.icon-horse:before
  content: '\e813'
.icon-rat:before
  content: '\e816'
.icon-goat:before
  content: '\e818'
.icon-snake:before
  content: '\e820'
.icon-ox:before
  content: '\e822'
.icon-dog:before
  content: '\e825'
.icon-rabbit:before
  content: '\e826'
.icon-monkey:before
  content: '\e829'
.icon-rooster:before
  content: '\e82f'

.post-block.archive
  background: none
  box-shadow: none

/* 时间轴样式 */
.page-archive

  // 时间轴左边线条
  .posts-collapse::after
    margin-left: -4px
    background-image: linear-gradient(180deg, #f79533 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%)

  // 时间轴顶部文字
  .archive-page-counter
    top: 16px
    color: #fff

  // 时间轴年份颜色
  .posts-collapse h1, h2
    color: #fff

  // 时间轴左边线条第一个圆点
  .posts-collapse .archive-move-on
    display: none

// 时间轴年份
.posts-collapse .collection-title
  margin: 10px 0

// 时间轴左边线条圆点
.posts-collapse .collection-title::before
  display: none

// 时间轴日期时间
.post-time span
  margin-left: 15px
  color: #ccc
// 时间轴的子项容器
.posts-collapse .post
  position: relative
  margin: 0

.posts-collapse .post-header
  padding-top: 3px
  padding-bottom: 3px
  // height: 42px
  line-height: 36px
  background-color: #fff
  border: none

// 时间轴文章标题左边圆点
.posts-collapse .post-header::before
  top: 20px
  left: 32px

.posts-collapse .post-header:hover::before
  background-color: $themes-hight-color

// 时间轴文章标题
.posts-collapse .post-header h2
  margin: 0 25px 0 30px
  padding-top: 3px
  padding-left: 20px
  border-bottom: 1px dashed #ccc

.posts-collapse .post-header a
  color: $themes-color

.posts-collapse .post-header a:hover
  color: $themes-hight-color

.posts-collapse .post-header:hover h2
  border-bottom-color: $themes-hight-color

// 时间轴日期靠右显示
.posts-collapse .post-meta
  left: auto
  right: 25px
