#app .navbar, 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)

#app .sidebar
    background-color: #F3F3F3

#app .abstract-item
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)

#app .abstract-item:hover
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2)

#app .info-wrapper
    box-shadow: none
    background-color: transparent
    .personal-img, .name 
        display: none

.page.reco-show,
.home-blog.reco-show
    background-color: #F4F5F5

.page-title, .theme-reco-content.content__default
    background-color: #FFFFFF
    > h2
        position: relative
    > h2::before
        content: ''
        position: absolute
        width: 5px
        height: 40px
        top: 70px
        left: -40px
        background-color: #67cc86

