// 主题颜色
$accentColor = #3EAF7C

// 文本颜色
$textColor = #232321

// 边框线颜色
// $borderColor = #f9f8f8

// 代码块背景色
// $codeBgColor = #282c34

// 悬浮块背景色
// $backgroundColor = #ffffff

// 半透明背景
$customColor = rgba(255, 255, 255, .7)
