// 主题颜色
$accentColor = #3EAF7C

// 文本颜色
$textColor = #232321

// 边框线颜色
// $borderColor = #f9f8f8

// 代码块背景色
// $codeBgColor = #282c34

// 悬浮块背景色
// $backgroundColor = var(--background-color)

// $backgroundColor ?= #f9f8f8
// $backgroundColorDark = #25272a

// 阴影
$boxShadow = 0 1px 2px 0 $darkColor2
$boxShadowHover = 0 2px 8px 0 $darkColor2
