<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
body
{
	margin:0px;
}
div
{
	height:200px;
}
#d1
{
	width:200px;
	position:absolute;
	top:0px;
	left:0px;/*左对齐绝对定位*/
	background-color:#ccffff;
}
#d2
{
/*要点，不要设置宽度*/
margin-left:200px;
margin-right:100px;
	background-color:#ccccff;
}

#d3
{
	position:absolute;
	top:0px;
	right:0px;/*右对齐绝对定位*/
	width:100px;
	background-color:#ccffff;
}

</style>

</head>

<body>
<div id="d1">左侧栏</div>
<div id="d2">中间栏<br />
	<br />
	左右均使用绝对定位，中间不设置宽度</div>
<div id="d3">右侧栏</div>

</body>

</html>
