<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
body {
	margin: 0px;/*网页无边距，所有元素与网页边界靠拢*/
}
#d1
{
	float: left;/*左浮动，使层向左靠齐*/;
	width: 20%;
	height: 100px;
	background-color: #CCCCFF;
}
#d2
{
	float: left;/*左浮动，使层向左靠齐*/;
	width: 80%;
	height: 100px;
	background-color: #CCFFFF;

}
#d_Center {
	width: 80%;	
	margin: 0px auto;/*居中样式为上下边距0，左右边距自动*/
}

</style>

</head>

<body>
<div id="d_Center">居中对齐的2列总宽度为页宽的80%
<div id="d1">
	左列<br />
	<br />
	左靠齐</div>
<div id="d2">
	右列<br />
	<br />
	右靠齐</div>
	
</div>

</body>

</html>
