<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>

<style type="text/css">
body {
	margin: 0px;/*网页无边距，所有元素与网页边界靠拢*/
}
#d1 {
	float: left;/*右浮动，使层向左靠齐*/;
	width: 100px;
	height: 100px;
	background-color: #CCCCFF;
}
#d2 {	/*自动占满宽度，不设置浮动，不设置宽度即可*/
	height: 100px;
	background-color: #CCFFFF;
}

</style>

</head>

<body>
<div id="d1">
	左列<br />
	<br />
	宽度100px</div>
<div id="d2">
	右列<br />
	<br />
		宽度自动占满/*自动占满宽度，不设置浮动，不设置宽度即可*/</div>

</body>

</html>
