<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
#d1
{
	margin:0px;
	list-style-type:none;
	width:300px;
	background-color:#FFFFCC;
	padding:10px;
	
		/*为保证所有浏览器均正常，需要共同使用以下三行*/
	text-overflow:ellipsis; /*截断字符串超长部分，显示省略号*/
	white-space:nowrap; /*禁止换行*/
	overflow:hidden;/*不出现滚动条*/
}
</style>
</head>

<body>

<div id="d1">超长文字的时候超长文字的时候超长文字的时候超长文字的时候超长文字的时候超长文字的时候超长文字的时候超长文字的时候超长文字的时候超长文字的时候</div>
</body>

</html>
