<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
#d1
{
background-image:url('banner.gif');
background-repeat:no-repeat;	
height:220px;
}
#d1 span
{
	display:none;/*将原有文本隐藏起来，仅显示背景图片。其效果是，图片比文字好看得多，同时也不会造成搜索引擎无法找到主体关键字的尴尬*/
}
</style>
</head>

<body>
<div id="d1"><span>在售楼盘性价比排行榜——网络营销专家的分析</span></div>
<hr/>
<div>所谓楼盘的“性价比”，就是包括地段、品牌、品质价格、配套、发展前景、购房者口碑等楼盘性能与价格之间形成的最佳组合。从商品角度讲，房产品的性价比，就是性能与价格的关联度。围绕着价格杠杆，很多开发商正逐步利用楼盘的低总价、高品质来吸引消费者，将产品价格相对维系在合理的水平，并力争在产品上切合购房者的需求。细数京城楼盘，哪些楼盘可以算作性价比高的楼盘呢？
</div>

</body>

</html>
