<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
#Img1
{
	float:left;/*文字会被浮动到旁边,如无，则无法实现图文混排*/
}
#d1
{
	float:left;
}
#d2
{
	clear:left;/*清除浮动，效果为不在跟随前面元件的流动效果*/
}

.style1 {
	color: #FF0000;
}
</style>

</head>

<body>

<span class="style1">请改变浏览器大小观察位置变化</span>
<hr/>

<img id="Img1" alt="" src="书.png" width="128" height="198" />
<div id="d1">《圣经》（拉丁语：Biblia，希伯来语：ביבליה‎，本意为莎草纸）可以指犹太教和基督教（包括天主教、东正教和新教）的宗教经典。犹太教的宗教经典是指《塔纳赫》（或称《希伯来圣经》），而基督教的则指《旧约圣经》和《新约圣经》两部分。其中，《塔纳赫》是犹太教的经典，记载关于上帝和古时犹太人的历史及传说。《塔纳赫》亦同时是基督教圣经的《旧约》部分。而《希伯来圣经》记载的是从上帝创造世界，人类犯罪，犹太人的历史及关于世界的预言。不过经常有人质疑圣经内容的真实。
</div>
<div id="d2">
内涵
基督教的圣经由《旧约》和《新约》两部分构成，而其《旧约圣经》与《希伯来圣经》内容大致相同，不过天主教版本就多了数篇《塔纳赫》跟基督教新教《旧约》都没有的数篇经卷。《新约圣经》记载耶稣基督和其门徒的言行与早期基督教的事件纪录。
<br/>
据统计现在共有大约一万四千多种不同语言版本的圣经，尤其是“希伯来圣经”部分，而基督教新约部分，就有大约五千三百种不同语言版本。在众古书中可说是现在世界上最多不同语言翻译版本的书。[1]
<br/>
其中旧约完成的年代是：西元前一千五百多年到前四百年之间；而新约完成的年代是：西元三十几年到九十六之间；换句话说，旧约圣经最早的著作，至今已经有三千五百年的历史。而新约圣经最早的著作，至今已经一千九百年的历史。直到目前为止，圣经仍然是全世界最受欢迎、销售量最多、影响力最大的一本书。根据世界联合圣经公会的统计，圣经自从出版直到今天，发行量累积已超过四十亿本。目前全世界的销售数量，平均每年依然超过三千万本以上。这样的销售量，绝对是全世界最畅销的一本书。<br />
</div>

</body>
</html>
