<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
#Select1
{
	width:80px;/*大量常用属性都无效果，可自行试验*/	
}
.必修课程
{
	background-color:black;
	color:white;
}
.文科
{
		background-color:#CCFF99;
	color:#FF66CC;

}
.理科
{
		background-color:#66FFFF;
	color:#FF9966;

}
</style>
</head>

<body>
	<select id="Select1">
	<option class="必修课程" selected="selected">语文</option>
	<option class="必修课程">数学</option>
	<option class="必修课程">英语</option>
	<option class="理科">物理</option>
	<option class="理科">化学</option>
	<option class="理科">生物</option>
	<option class="文科">政治</option>
	<option class="文科">历史</option>
	<option class="文科">地理</option>
	</select>

</body>

</html>
