<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
#d1 {
	width: 250px;
	height: 30px;	
	line-height: 30px;
	background-image: url('输入背景.gif');	
}
#Text2
{
width:150px;
background-color:transparent;/*使用透明背景*/
border-style: none;
margin-left:60px;

}
</style>
</head>

<body>
<div id="d1"><input id="Text2" type="text" />
</div>
</body>

</html>
