<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
#p1
{
	line-height: 25px;/*使用“行高”控制垂直间距*/;
	letter-spacing: 2px;/*字符间距*/
	word-spacing:22px;/*单词之间的距离，即，空格的大小，对汉字而言没什么意义*/
	text-indent:2.0em;/*首字缩进2个字宽。em代表字宽大小的倍数，可以使用小数*/
}
#p1:first-letter/*首字*/
{
	float:left;/*首字下沉*/
	font-size:2em;
}
#p1:first-line/*首行，因为有首字下沉，所以重点突出显示之*/
{
background-color:#FFFFCC;
}
</style>
</head>

<body>

<p id="p1">注意这里的字符间距，包括上下间距和垂直间距！注意这里的字符间距，包括上下间距和垂直间距！注意这里的字符间距，包括上下 间距 和垂直间距！注意这里的字符间距，包括上下间距和垂直间距！注意这里的字符间距，包括上下间距和垂直间距！注 意这里的字符间距，包括上下间距和垂直 间距！注意这里的字符间距，包括上下间距和垂直间距！注意这里的字符间距，包括上下间距和垂直间距！注意这里的字符间距，包括上下间距和垂直间距！注意这里的字符间距 ，包括上 下间距和垂直 间距！注意这里的字符间距，包括上下间距和垂直间距！注意这里的字符间距，包括上下间距和垂直间距！注意这 里的字符间距，包括上下间距和垂直间距！注意这里的字符间距，包括上下间距和垂直间距！注 意这里的字符间距，包括上下间距和垂直间距！</p>

</body>

</html>
