<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题 1</title>
<style type="text/css">
ul
{
	background-color:#FFFFCC;
	list-style-type:none;
	margin:0px;
	padding:15px;
	text-indent:30px;/*文字缩进像素*/
	width:300px;
	font-size:12px;
}
ul #title
{
	text-indent:15px;/*文字缩进像素*/
	font-size:20px;
	font-weight:bold;
}
ul li
{
	line-height:20px;
}
</style>
</head>

<body>
<ul id="u1">
	<li id="title">历史上的今天</li>
	<li>10月25日</li>
	<li>1415年，英格兰国王亨利五世率领的军队在阿金库尔战役中打败法国军队。</li>	
	<li>1875年，法国钢琴家彪罗在美国波士顿首演柴科夫斯基（图）创作的《第一钢琴协奏曲》。</li>
	<li>1936年，德国和意大利的代表在柏林签订同盟条约，柏林-罗马轴心建立</li>
	<li>1971年，联合国大会通过第2758号决议，以中华人民共和国代替中华民国行使在联合国的一切合法权利。</li>
	<li>2001年，美国微软公司开发的视窗操作系统Windows XP在纽约向全球正式发布。</li>
</ul>
</body>

</html>
